ADF_PUBLISH/ADF-develop/ADF-develop/ADF/pipeline/copy sql tables.json
{
	"name": "copy sql tables",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata_SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_source_info",
						"type": "DatasetReference",
						"parameters": {
							"filename": "Table_Source_SQL.json",
							"container": "manualfiles"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable_source",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().tablename_source",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Filter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata_SQL').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@if(equals(length(pipeline().parameters.tablename),0),not(equals(pipeline().parameters.tablename,item().tablename_source)),contains(pipeline().parameters.tablename,item().tablename_source))\n\n\n\n\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "array",
				"defaultValue": []
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-30T17:22:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}