ADF_PUBLISH/ADF-develop/ADF-develop/ADF/pipeline/Master_rchackoair_Pipeline.json
{
	"name": "Master_rchackoair_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "copy datalake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "copy rest api",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy rest api",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "copy sql tables",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy sql tables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Refresh_Databricks_Notebook",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Refresh_Databricks_Notebook",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Layer_Name": "Raw"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "copy datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy sql tables",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy rest api",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Refresh_Databricks_Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.layer_names_to_run",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Refresh_Databricks_Notebook_All",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Refresh_Databricks_Notebook",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Layer_Name": {
										"value": "@item().layer_names_to_run",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Publish data into SQL Tables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Publish data into SQL Tables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Email_Send",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Publish data into SQL Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_Send",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"layer_names_to_run": {
				"type": "array",
				"defaultValue": [
					"Cleansed",
					"Data_Quality_Cleansed",
					"Mart",
					"Data_Quality_Mart"
				]
			}
		},
		"annotations": []
	}
}